/* SCROLLBAR */
body::-webkit-scrollbar {
    width: 5px;
}
   
body::-webkit-scrollbar-track {
    background-color: #ffffff;
}
   
body::-webkit-scrollbar-thumb {
    background-color: #acacac;
    border-radius: 0px;
}